page-carte {
   h1, h2{
    color:white;
    text-align: center;
    font-family: 'lado', sans-serif;
    letter-spacing:0.1em;
    margin-bottom: -15px;
    font-size:20px;
   }
   h1{
    font-weight:bold ;
    font-size: 22px;

   }
 
   .select-ios .select-placeholder{
    color:#14b0b9 !important; 

}
   .select{
    background-color: white;
    color:#14b0b9;
    width:180px;
    height:32px;
    font-family: 'lado', sans-serif;
    font-size:13px;
    border-radius:7px;
    margin-bottom:15px;
    display:flex;
    position: relative;
    justify-content: space-between;
    align-content:center;
    align-items:center;
    padding:7px;
}
.select-placeholder .select-text{
    color:#14b0b9; 
}
.select-md .select-placeholder{
    color:#14b0b9; 

}
    .fixed-content{
    background-image:url("../assets/icon/fondcarte.png");
    background-size: cover;
    background-position: center;

    color:white;}
    #navmenu{
        width:100%;
        height:120px;
        position: fixed;
        top:83%;
        z-index:100;
        left:0px;
        display:flex;
        align-content:center;
        align-items:center;
        justify-content: center;
    }
    .navbas{
        background-color:white;
        width:60px;
        height:45px;
        display:flex;
        justify-content:space-around;
        align-content:center;
        align-items:center;
      
        justify-content:center;
        img{
            width:45%;
            height:45%
        }
        
    }
    #listenav{
        border-radius: 7px 0px 0px 7px;
        margin-right:5px;
        z-index: 110;

       ion-icon{
            font-size:3.4em;
            color:#14b0b9;
            font-weight: bold;
        }

    }
    #mapinav{
       
        border-left:none;
        border-right:none;
        z-index: 110;

        img{
            width:45%;
            height:55%
        }

    }
    #searchnav{
        border-radius:50%;
        z-index: 110;

        width: 75px;
        height:75px;
        border:10px solid white;
        background-color: #14b0b9;
        ion-icon{
            font-size:3.0em;
            color:white;
            font-weight: bold;
        }
    }
    #conav{
        border-radius: 0px 7px 7px 0px;
        margin-left:5px;
        z-index: 110;


    }
    #divsearch{
        border:7px solid #14b0b9;
        border-radius:50%;
        z-index:9;
        margin: -5px;
        z-index: 110;



    }
    #serach{
        width: 100%;
        height:100%;
        display:flex;
        justify-content: center;
       align-items: center;
    }
    #pagesearch{
        background-image:url('../assets/img/search.png');
        background-size: cover;
        width: 210px;
        height:250px;
     
        z-index:120;
      
     
        border-radius:5px;
        display:flex;
        justify-content:center;
        flex-direction: column;
        align-content: center;
        align-items:center;
        display:none

        
    }
    #buttonsuite{
        position:relative
    }
 
    #button{
        position: relative;
        display:flex;
        
        flex-direction: column
    }
    .sel{
        display:flex;
        justify-content: center;
        text-align:center;
        align-content: center;
        align-items:center
    }
    .butsuite{
        background-color:#fbb24d;
      
        width:120px;
        height:25px;
        font-family: 'lado', sans-serif;
        font-size:13px;
        border-radius:3px;
        margin-bottom:10px;
        display:flex;
        position: relative;
        justify-content: center;
        align-content:center;
        align-items:center;
        color:white;

    }
    .butsuites{
        background-color:#6d6d6d;
      
        width:120px;
        height:25px;
        font-family: 'lado', sans-serif;
        font-size:13px;
        border-radius:3px;
        margin-bottom:10px;
        display:flex;
        position: relative;
        justify-content: center;
        align-content:center;
        align-items:center;
        color:white;

    }
    #fond{
        background-color: rgba(255, 251, 251, 0.281);
        width:100%;
        height:100%;
        position:absolute;
        z-index:105;
        top:0px;
        left:0px;
        display:none
    }
    #clickag{
        background-color:#14b0b9;
            
        width:180px;
        height:0px;
        font-family: 'lado', sans-serif;
        font-size:13px;
        margin-bottom:15px;
        display:flex;
        position: relative;
        justify-content: space-between;
        color:white;
        align-content:center;
        align-items:center;
        margin-top:25px;
        z-index:1;
    position:fixed;
    }
    #clickcategori{
        background-color:#14b0b9;
            
        width:180px;
        height:0px;
        font-family: 'lado', sans-serif;
        font-size:13px;
        margin-bottom:15px;
        display:flex;
        position: relative;
        justify-content: space-between;
        color:white;
        align-content:center;
        align-items:center;
        margin-top:75px;
        z-index:1;
    position:fixed;
    }
    #clicklocalisatio{
        background-color:#14b0b9;
            
        width:180px;
        height:0px;
        font-family: 'lado', sans-serif;
        font-size:13px;
        margin-bottom:15px;
        display:flex;
        position: relative;
        justify-content: space-between;
        color:white;
        align-content:center;
        align-items:center;
        margin-top:115px;
        
        z-index:1;
    position:fixed;
    }
    #divcarte{
    
        width:100%;
        height:100%;
        display:flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        position:absolute;
       top:0px;
       left:0px;
       background-image: url('assets/img/carte.png');
       background-position: center;
       background-size: cover;
       #user{
           z-index: 100;
           position:absolute;
           margin-top: 15%;
          left:15%;
          display:flex;
          flex-direction: row;
          justify-content: space-between;
          width:200px;
       }
       #date{
        z-index: 100;
        position:absolute;
        margin-top: 18%;
       left:15%
       }
   
        #carte{
            
            width:300px;
            height:195px;
            z-index:-10
        
        }
       
    }
    #fondnouser{
        width:100%;
        height:86%;
        position:absolute;
        top:0px;
        left:0px;
        background-color: rgba(10, 10, 10, 0.411);
        z-index:200;
    }
    #divpopup{
        width:100%;
        height:100%;
        display:flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        position:absolute;
       top:0px;
       left:0px;
    #popup{
      
        width: 200px;
        height:200px;
        background-color: #14b0b9;
        color:white;
        z-index:300;
        text-align: center;
        display:flex;
        justify-content: center;
        align-items: center;
        align-items:center;
        flex-direction: column;
        font-family: 'lado', sans-serif;
        letter-spacing:0.1em;
        border-radius:7px;
        padding:3px;
      
    }
}
.divh{
    border-radius:4px;
    margin-top:5%;
    margin-bottom:10%;

    margin:auto;
    width:50%;
    height:30PX;
    background: linear-gradient(45deg, #6d6d6d 0%, #6d6d6d 50%, #8a8a8a 51%, #8a8a8a 100%);
    opacity:1;
    color:white;
    font-family:'lado' sans-serif;
}
}