page-liste {
    #navmenu{
        width:100%;
        height:120px;
        background-color:  #14b0b9;
        position: fixed;
        z-index: 100;
        top:83%;
        left:0px;
        display:flex;
        align-content:center;
        align-items:center;
        justify-content: center;
        
    }
    .navbas{
        background-color:white;
        width:60px;
        height:45px;
        display:flex;
        justify-content:space-around;
        align-content:center;
        align-items:center;
       
        justify-content:center;
        img{
            width:45%;
            height:45%
        }
        
    }
    #listenav{
        border-radius: 7px 0px 0px 7px;
        margin-right:5px;
       ion-icon{
            font-size:3.4em;
            color:#14b0b9;
            font-weight: bold;
        }

    }
    #mapinav{
       
        border-left:none;
        border-right:none;
        img{
            width:45%;
            height:55%
        }

    }
    #searchnav{
        border-radius:50%;
        width: 75px;
        height:75px;
        border:10px solid white;
        background-color: #14b0b9;
        ion-icon{
            font-size:3.0em;
            color:white;
            font-weight: bold;
        }
    }
    #conav{
        border-radius: 0px 7px 7px 0px;
        margin-left:5px;

    }
    #divsearch{
        border:7px solid #14b0b9;
        border-radius:50%;
        z-index:9;
        margin: -5px


    }
    #secserach{
        width: 100%;
        height:100%;
        display:flex;
        justify-content: center;
       align-items: center;
    }
    #pagesearch{
        background-image:url('../assets/img/search.png');
        background-size: cover;
        width: 210px;
        height:250px;
      
        z-index:102;
      
     
        border-radius:5px;
        display:flex;
        justify-content:center;
        flex-direction: column;
        align-content: center;
        align-items:center;
        display:none

        
    }
    #buttonsuite{
        position:relative

    }
   
    .select{
        background-color:#14b0b9;
        
        width:180px;
        height:32px;
        font-family: 'lado', sans-serif;
        font-size:13px;
        border-radius:7px;
        margin-bottom:15px;
        display:flex;
        position: relative;
        justify-content: space-between;
        color:white;
        align-content:center;
        align-items:center;
        padding:7px;
      
    }
    #button{
        position: relative;
        display:flex;
     
        flex-direction: column
    }
    .sel{
        display:flex;
        justify-content: center;
        text-align:center;
        align-content: center;
        align-items:center
    }
    .butsuite{
        background-color:#fbb24d;
      
        width:120px;
        height:25px;
        font-family: 'lado', sans-serif;
        font-size:13px;
        border-radius:3px;
        margin-bottom:10px;
        display:flex;
        position: relative;
        justify-content: center;
        align-content:center;
        align-items:center;
        color:white;

    }
    .butsuites{
        background-color:#6d6d6d;
      
        width:120px;
        height:25px;
        font-family: 'lado', sans-serif;
        font-size:13px;
        border-radius:3px;
        margin-bottom:10px;
        display:flex;
        position: relative;
        justify-content: center;
        align-content:center;
        align-items:center;
        color:white;

    }
    #fond{
        background-color: rgba(94, 94, 94, 0.685);
        width:100%;
        height:82%;
        position:absolute;
        z-index:100;
        top:0px;
        left:0px;
        display:none
    }
    .fixed-content{
       background-color:#14b0b9
    }
    .selec{
        background-color:white;
        
        width:45%;
        height:32px;
        font-family: 'lado', sans-serif;
        font-size:13px;
        border-radius:7px;
        margin-bottom:15px;
        display:flex;
        position: relative;
        justify-content: space-between;
        color:#14b0b9;
        align-content:center;
        align-items:center;
        padding:7px;
        z-index:5
       
    }
    #butto{
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width:100%;
        height:100%
       
    }
#liste{
    background-color:#6d6d6d;
        width:45%;
        height:32px;
        font-family: 'lado', sans-serif;
        font-size:13px;
        border-radius:3px;
        margin-bottom:10px;
        display:flex;
        position: relative;
        justify-content: center;
        align-content:center;
        align-items:center;
        color:white;

}
.toolbar-background{
    background-color: #14b0b9
}
.toolbar{
height:120px;
}

#affichage{
    background-color:white;
    width:100%;
    height: 100%;
    position:absolute;
    top:0px;
    left:0px;
}
ion-sroll{
    width:5px;
    height:100%
}
#clickage{
    background-color:white;
        
    width:44%;
    height:0px;
    font-family: 'lado', sans-serif;
    font-size:13px;
    margin-bottom:15px;
    display:flex;
    position: relative;
    justify-content: space-between;
    color:white;
    align-content:center;
    align-items:center;
  margin-left: 2.5%;
  margin-top:23px;
    z-index:200;
position:fixed;
}
#clickcategorie{
    background-color:white;
        
    width:44%;
    height:0px;
    font-family: 'lado', sans-serif;
    font-size:13px;
    margin-bottom:15px;
    display:flex;
    position: relative;
    justify-content: space-between;
    color:white;
    align-content:center;
    align-items:center;
    margin-left:51.2%;
    margin-top:23px;
    z-index:1;
position:fixed;
}
#clicklocalisation{
    #ploc{
        display:none;
        color:#14b0b9
    }
    background-color:white;
        
    width:44%;
    height:0px;
    font-family: 'lado', sans-serif;
    font-size:13px;
    margin-bottom:15px;
    display:flex;
    position: relative;
    justify-content: space-between;
    color:white;
    align-content:center;
    align-items:center;
    margin-left: 2.5%;
  margin-top:69px;
    z-index:1;
position:fixed;
overflow-y: scroll;
overflow-x: hidden
}
#loc{
    z-index:20 !important
}
#clickag{
    background-color:#14b0b9;
        
    width:180px;
    height:0px;
    font-family: 'lado', sans-serif;
    font-size:13px;
    margin-bottom:15px;
    display:flex;
    position: relative;
    justify-content: space-between;
    color:white;
    align-content:center;
    align-items:center;
    margin-top:25px;
    z-index:1;
position:fixed;
}
#clickcategori{
    background-color:#14b0b9;
        
    width:180px;
    height:0px;
    font-family: 'lado', sans-serif;
    font-size:13px;
    margin-bottom:15px;
    display:flex;
    position: relative;
    justify-content: space-between;
    color:white;
    align-content:center;
    align-items:center;
    margin-top:75px;
    z-index:1;
position:fixed;
}
#clicklocalisatio{
    background-color:#14b0b9;
        
    width:180px;
    height:0px;
    font-family: 'lado', sans-serif;
    font-size:13px;
    margin-bottom:15px;
    display:flex;
    position: relative;
    justify-content: space-between;
    color:white;
    align-content:center;
    align-items:center;
    margin-top:115px;
    z-index:1;
position:fixed;
}
}
    
