<!--
  Generated template for the ListePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <div id="clickage">
          <ion-col [style.display]="tda" *ngFor="let age  of tdage">
              <p>{{age}}</p>
            </ion-col>
      </div>
      <div id="clickcategorie"> 
        <ion-col [style.display]="test" *ngFor="let activitee of activite">
          <p>{{activitee}}</p>
        </ion-col>

      </div>
      <div id="clicklocalisation"> 
         <ion-col [style.display]="lie" *ngFor="let lieuu of lieu">
        <p>{{lieuu}}</p>
      </ion-col></div>
      <div id="butto">
          
          <div class="selec" (click)='clickage()'> 
             <div class="se"> 
               <p>Tranche d'âge</p>
             </div> 
             <div class="se">
                 <ion-icon name="ios-arrow-down"></ion-icon>
             </div>
          
           </div>
           <div class="selec" (click)='clickcategorie()'> 
               <div class="se"> 
                 <p>Categorie</p>
               </div> 
               <div class="se">
                   <ion-icon name="ios-arrow-down"></ion-icon>
               </div>
            
             </div>
             <div class="selec" id="loc" (click)='clicklocalisation()'> 
                 <div class="se"> 
                   <p>Localisation</p>
                 </div> 
                 <div class="se">
                     <ion-icon name="ios-arrow-down"></ion-icon>
                 </div>
              
               </div>
               <div id="liste"> AFFICHER LA LISTE</div>

              </div>
            
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="affichage">
      <ion-scroll  scrollX="true">
        </ion-scroll>
  </div>    
  <section id="secserach">
  <div id="pagesearch">
        <div id="button">
            <div id="clickag"></div>
            <div id="clickcategori"></div>
            <div id="clicklocalisatio"><p id="ploc"></p></div>
          <div  class="select" (click)='clickagesearch()'> 
             <div class="sel"> 
               <p>Tranche d'âge</p>
             </div> 
             <div class="sel">
                 <ion-icon name="ios-arrow-down"></ion-icon>
             </div>
          
           </div>
           <div  class="select"  (click)='clickcatsearch()'> 
               <div class="sel"> 
                 <p>Categorie</p>
               </div> 
               <div class="sel">
                   <ion-icon name="ios-arrow-down"></ion-icon>
               </div>
            
             </div>
             <div  class="select"  (click)='clicklocsearch()' > 
                 <div class="sel"> 
                   <p>Localisation</p>
                 </div> 
                 <div class="sel">
                     <ion-icon name="ios-arrow-down"></ion-icon>
                 </div>
              
               </div>
        </div>
        <div id="buttonsuite">
           <div class="butsuite"> Afficher la liste</div>
           <div class="butsuites"> Afficher la carte</div>
      
        </div>
      </div>
    </section>
      <div (click)='clickfond()' id="fond"></div>
      <div id="navmenu">
        <div id="listenav" (click)='clickliste()' class="navbas">
            <img src="./assets/icon/liste.png">
        </div>
      
        <div id="mapinav" (click)='clickmap()' class="navbas">
            <img src="./assets/icon/map.png" >
      
        </div>
      
        <div id="divsearch"> <div id="searchnav" (click)='clicksearch()' class="navbas"><ion-icon name="ios-search"></ion-icon></div></div>
      
        <div id="cartenav" (click)='clickcarte()' class="navbas">
            <img src="./assets/icon/carte.png" >
        </div>
      
        <div id="conav"  (click)='clickexit()'class="navbas">
            <img src="./assets/icon/exit.png">
        </div>
        
      </div>
  

 

</ion-content>
